body{
  background-color: black;
}
h1{
  font-family:"Century Gothic", CenturyGothic, AppleGothic, serif;
  color: #F4F4F9;
  position: relative;
  text-align: center;
  top:50px;
}
.jukeBoxContainer{
  position: relative;
  border: 5px solid #F4F4F9;
  border-radius: 20px;
  left:750px;
  width:800px;
  top:100px;
  background-color: #586F7C;
}
a{
  font-family:"Century Gothic", CenturyGothic, AppleGothic, serif;
  text-decoration: none;
  border: 2px solid #F4F4F9;
  font-size: 30px;
  width: 50px;
  text-align: center;
  padding: 10px;
  display:block;
  position: relative;
  top: 500px;
  background-color: #2F4550;
  color:#F4F4F9;
  border-radius: 10px;
  left: 175px;
}
#myBtns{
  position: relative;
  left:100px;
  top: -400px;
}
#songTitle{
  font-family:"Century Gothic", CenturyGothic, AppleGothic, serif;
  color:#F4F4F9;
  border: 3px solid #F4F4F9;
  border-radius: 10px;
  padding:15px;
  padding-top:20px;
  text-align: center;
  font-size: 30px;
  position: relative;
  left:40px;
  background-color: #2F4550;
  width: 500px;
  height:50px;
  top: 500px;
}
#pause{
  font-weight: bolder;
  display:none;
  padding-left: 12px;
  left:220px;
  letter-spacing: 10px;
}
#play{
  left: 220px;
}
#stop{
  text-align: center;
  top:444px;
  padding-right: 12px;
  left: 320px;
}
#next{
  top: 330px;
  left: 500px;
}
#back{
  top: 390px;
  left: 40px;
}

#photo_box{
  border: 3px solid #F4F4F9;
  position: relative;
  left: 100px;
  top: 50px;
  background-color: #2F4550;
  border-radius: 15px;
  height: 500px;
  width: 600px;
}
img{
  background-color: black;
  height: 400px;
  width: 500px;
  position: absolute;
  left: 50px;
  top: 50px;
}
